In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
# xls = pd.ExcelFile('Data Sheet for Interns - Copy.xlsx')
gst = pd.read_excel('Data Sheet for Interns.xlsx', 'GST', header=1)

In [3]:
gst.dropna(axis = 0, how = 'all', inplace = True)

In [4]:
indexNames = gst[ (gst['Owner'] == 'Owner')].index
# Delete these row indexes from dataFrame
gst.drop(indexNames , inplace=True)

In [5]:
gst = gst[gst['Owner'].notna()]

In [6]:
gst = gst[gst['Month'].notna()]

In [7]:
gst.drop(['Fees Pending'], axis = 1, inplace=True)

In [8]:
gst.rename(columns={"Owner": "Councellor Name", 'Month': 'Date'}, inplace=True)

In [9]:
for index, row in gst.iterrows():
    x = gst['Course Name'][index]
    if not isinstance(gst['Date'][index], datetime.datetime):
        gst.drop([index], inplace=True)
    if isinstance(x, datetime.date):
        gst['Course Name'][index] = 'Na'
    elif (type(x) == str and ("/" in x)):
        gst['Course Name'][index] = 'Na'

In [10]:
gst['Course Name'] = gst['Course Name'].str.upper()

In [11]:
gst['Course Name'].replace('NA','GST',inplace=True)
gst['Course Name'].replace('NILL','GST',inplace=True)
gst['Course Name'].replace(np.nan,'GST',inplace=True)

In [12]:
gst.isnull().sum()

Date               0
Councellor Name    0
Course Name        0
Fees Received      0
Fees Total         7
dtype: int64

In [13]:
gstitToReplace = ['GST  AND INCOME TAX',
'GST & INCOMETAX',
'GST & IT',
'GST &IT',
'GST + INCOME TAX',
'GST + IT SELF PACED',
'GST AND INCOME TA',
'GST AND INOME TAX',
'GST AND IT',
'GST+ INCOME TAX']

gstit = "GST AND INCOME TAX"

In [14]:
itToReplace = ['INCOME TAX  SELF PACE',
'IT',
'INCOMETAX']

it = 'INCOME TAX'

In [15]:
sapficoToReplace = ['SAP AND FICCO',
'SAP AND FICO',
'SAP FICCO',
'SAP FICO INTERNSHIP',
'SAP-FICO']

sapfico = 'SAP FICO'

In [16]:
def toReplace(listOfWords, toReplaceIn):
    for x in listOfWords:
        gst['Course Name'].replace(x, toReplaceIn,inplace=True)

In [17]:
toReplace(gstitToReplace, gstit)

In [18]:
toReplace(itToReplace, it)

In [19]:
toReplace(sapficoToReplace, sapfico)

In [20]:
gst['Course Name'].replace('SAP-FICO & ADV. EXCEL', 'SAP-FICO & ADVANCE EXCEL',inplace=True)

In [21]:
gst.isnull().sum()

Date               0
Councellor Name    0
Course Name        0
Fees Received      0
Fees Total         7
dtype: int64

In [22]:
gst.dropna(inplace = True)

In [23]:
gst.isnull().sum()

Date               0
Councellor Name    0
Course Name        0
Fees Received      0
Fees Total         0
dtype: int64

In [24]:
gst['Councellor Name'][465]

779962

In [25]:
gst.drop([465], inplace=True)

In [26]:
courseCount = gst['Course Name'].value_counts().to_frame()

In [27]:
coursesWithOneAppearance = courseCount[ (courseCount['Course Name'] == 1)].index

In [28]:
gst.reset_index(drop=True, inplace= True)

In [29]:
gst

                     Date Councellor Name Course Name Fees Received Fees Total
0     2020-04-01 00:00:00           Pooja         GST          7500       7500
1     2020-04-01 00:00:00          Deepak         GST          8550       8550
2     2020-04-01 00:00:00           Pooja         GST          6750       6750
3     2020-04-01 00:00:00          Deepak         GST          8550       8550
4     2020-04-01 00:00:00          Deepak         GST          5000       5000
...                   ...             ...         ...           ...        ...
1109  2021-07-01 00:00:00         Urvashi         GST         10000      10000
1110  2021-07-01 00:00:00          Poonam      SAP MM         20650      20650
1111  2021-07-01 00:00:00            Ajay      SAP MM          5000      23600
1112  2021-07-01 00:00:00            Ajay    SAP FICO         23600      23600
1113  2021-07-01 00:00:00            Ajay      SAP MM         20750      20750

[1114 rows x 5 columns]

In [30]:
gst.to_excel("cleaned_GST.xlsx")